<style>
      body {
        background: black;
      }
      .greenbutton {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 50%;
        background: green;
      }
      .redbutton {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 50%;
        background: red;
      }
      .yellowbutton {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%;
        height: 50%;
        background: yellow;
      }
      .bluebutton {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
        height: 50%;
        background: blue;
      }
      .centerarea {
        position: absolute;
        border-radius: 100%;
        background: black;
        left:50%;
        width: 50%;
        height: 50%;
        top:50%;
      }
