<style>
      body {
        background: black;
      }
      .greenbutton {
        position: absolute;
        top: 0;
        left: 0;
        width: 25%;
        height: 25%;
        background: rgb(0,255,0);
      }
      .redbutton {
        position: absolute;
        top: 0;
        right: 0;
        width: 25%;
        height: 25%;
        background: rgb(255,0,0);
      }
      .yellowbutton {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 25%;
        height: 25%;
        background: rgb(255,255,0);
      }
      .bluebutton {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 25%;
        height: 25%;
        background: rgb(0,0,255);
      }
      .centerarea {
        position: absolute;
        border-radius: 100%;
        background: black;
        left:25%;
        width: 25%;
        height: 25%;
        top:25%;
      }
